<div class="strib-styles ssa ssb ssc">
  <section class="hero" id="hero">
    <div class="topNavBar">
      <a href="http://www.startribune.com">
        <div class="strib"></div>
      </a>
      <div class="sponsor">
        <!-- <div class="sponsor-message"><div class="arrow-up arrow-1"></div><div class="arrow-up arrow-2"></div>Advertisers had no influence over any content decisions</div> --></div>
    </div>
    <div class="title-card">
      <h1>Feeling Superior</h1>
    </div>
    <video autoplay loop id="heroVideo">
      <source src="http://static.startribune.com/preview/stadium/brian4.mp4" type="video/mp4">
    </video>
  </section>
  <section id="mobile-hero" class="mobile-hero mobile">
    <div class="topNavBar">
      <a href="http://www.startribune.com">
        <div class="strib"></div>
      </a>
      <div class="sponsor">
        <!-- <div class="sponsor-message">Advertisers had no influence over any content decisions</div> --></div>
    </div>
    <div class="title-card">
      <h1>New star of the North</h1>
    </div>
  </section>
  <h4 class="mobile home-logo">
    <a href="http://m.startribune.com">Star Tribune</a>
  </h4>
  <div class="topCaption mobile related-icn-video">
    <a class="related-media-link js-video-modal" href="http://www.startribune.com/video/embed/385048871?load_location=Article&amp;article_title=Stadium timelapse&amp;article_author=&amp;embed_site=www.startribune.com&amp;sz=%2F7932%2FWebsite%2FWEB_Video%2FWEB_Video_User_Initiated&amp;page_level=Article&amp;section_name=&amp;auto_start=y" data-modal-title="Stadium timelapse" data-modal-summary="Stadium timelapse" data-video-src="http://www.startribune.com/video/embed/385048871?load_location=Article&amp;article_title=Stadium timelapse&amp;article_author=&amp;embed_site=www.startribune.com&amp;sz=%2F7932%2FWebsite%2FWEB_Video%2FWEB_Video_User_Initiated&amp;page_level=Article&amp;section_name=&amp;auto_start=y" data-linkname="Stadium timelapse" data-linktype="related " data-modulename="" data-moduletype="-" data-position="-">
<span class="readin"> (02:31)</span>&nbsp;&nbsp;See the complete time lapse video of the $1.03 billion stadium
</a>
  </div>
  <section class="container-lg">
    <div class="teases">
      <article class="tease">
        <header>
          <b>PART X</b> TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
      <article class="tease">
        <header>
          <b>PART X</b> TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
      <article class="tease">
        <header>
          <b>PART X</b> TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
      <!--     ROW TWO -->
      <article class="tease">
        <header>
          <b>PART X</b> TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
      <article class="tease">
        <header>
          <b>PART X</b> TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
      <article class="tease">
        <header>
          <b>PART X</b> TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
    </div>
    <p>Content goes here.Testeda</p>
  </section>
</div>
<script>
export default {
  oncreate: function() {
    console.log('created');
  }
};

</script>
