<div class="strib-styles ssa ssb ssc">
  <div class="hero hero-full hero-invert" style="background-image: url('http://stmedia.stimg.co/zebra1_mask.jpg?w=2000');">
    <div class="hero-bottom">
      <h1 class="shadow text-uppercase">Watch out for those zebra mussels!</h1>
      <div class="shadow scroll-down">Scroll <i class="fa fa-chevron-down"></i></div>
    </div>
  </div>
  <section class="container-lg">


    <div class="teases">
      <article class="tease">
       <header>
          <b>PART X</b>  TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>

      <article class="tease">
       <header>
          <b>PART X</b>  TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>

      <article class="tease">
        <header>
          <b>PART X</b>  TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>

  <!--     ROW TWO -->

       <article class="tease">
       <header>
          <b>PART X</b>  TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>

      <article class="tease">
       <header>
          <b>PART X</b>  TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>

      <article class="tease">
       <header>
          <b>PART X</b>  TITLE OF PART X
        </header>
        <figure class="tease-photo">
          <a href="">
            <div class="tease-photo-img">
              <img src="http://placekitten.com/238/160" alt="Kitten placeholder image">
            </div>
          </a>
        </figure>
        <h1><a href="/xxx" >Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></h1>
        <div class="tease-timestamp js-timestamp" data-st-timestamp="2018-04-06T11:44:12.000Z">6:44am</div>
        <div class="tease-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
      </article>
    </div>

    <p>Content goes here.Testeda</p>
  </section>
</div>
<script>
export default {
  oncreate: function() {
    console.log('created');
  }
};

</script>
