
.myWrapper {
  position: relative;
  padding-bottom: 54%;
  height: 0;
  z-index: 5;
}

.myWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}

#heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 15;
  overflow: hidden;
  opacity: 0;
  animation: introFade 3s 2s ease-out forwards;
}

.topNavBar {
  z-index: 200;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);

  .strib {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 200px;
    height: 33px;
    background-image: url(http://static.startribune.com/preview/stadium/img/strib-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
      display:none;
    }
  }
  .sponsor {
    display: none;
  }
}


.hero {
  overflow: hidden;
  position: relative;
  height: 80vh;
  margin-bottom: 2.5em;
  margin-top: 0;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ededed;
  opacity: 0;
  animation: introFade 3s 2s ease-out forwards;
  @media (max-width: 769px) {
    height: 60vh;
  }


  padding: 0;
  .title-card {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 18px;
    z-index: 201;
    h1 {
      text-transform: uppercase; // padding-right: 12px;
      display: inline-block;

      @include font-styles('popular');
      letter-spacing: .05em;
      font-weight: bold;
      line-height: 120%;
      font-size: 1.3em;
      color: #fff;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
    }
  }
  &.multimedia,
  &.day1sb1,
  &.day1sb2 {
    height: 50px;
  }

  &.bios {
    background-image: url(http://stmedia.startribune.com/images/Superior-bios.png);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    height: 80vh;
    background-position: center;
    margin: 0 0 2.5em 0
  }
}

section.mobile-hero {
  display: none;
}

@keyframes introFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
