/**
 * Project specific styling.
 */

.teases {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  &.ads{max-width:970px;
article.tease{margin:.5em 0;}
    h4 {border-top:1px #333 solid;width:100%;max-width:800px;margin:2em auto 1em auto;padding:2em 0 0;}}


  article.tease {
    display: table;
    width: 238px;
    height: auto;
    &:before {
      display: none;
    }

    header {
      font-weight: normal;
      font-size: .81em;
      color: #000000;
      margin: .25em 0 .25em 0;
      text-align:left;

    }
    .tease-timestamp {
      display: none;
    }
    .tease-photo {
      width: 100%;
    }
    h1>a {
      text-align:left;
      @include font-styles('popular');
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.15em;
    }
    .tease-summary {
      font-size: .875em;
      line-height: 1.2143em;
      text-align:left;
    }
  }
}
