.content-area.content-scroll {
    .strib-styles.ssa.ssb.ssc {
        .container-lg {
            ul.article-tools {
                li {
                    height: 50px;
                    width: 50px;
                }

                width: fit-content !important;
                margin: 1em auto 1.5em auto;

                .float--right {
                    float: none !important;
                }
            }

            @media (min-width: 768px) {
                &.desktop {
                    display: block;
                    width: 100px;
                    margin: 0 0 2em 2.5em;
                }

                &.mobile {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .mobile-hero {
        .strib-styles.ssa.ssb.ssc {
            #heroVideo {
                height: 80vh;
            }
        }
    }
}

@media (max-width: 767px) {
    .mobile-hero {
        .strib-styles.ssa.ssb.ssc {
            .hero {
                background-image: url(http://stmedia.startribune.com/images/SUPERIOR_m_cover.jpg);
                min-width: 100%;
                min-height: 100%;
                background-size: cover;
                height: 80vh;
                background-position: center;

                &.day1 {
                    background-image: url(http://stmedia.startribune.com/images/SUPERIOR_m_day1_cover.jpg);
                }

                &.day2 {
                    background-image: url(http://stmedia.startribune.com/images/Superior2_cover_m.jpg);
                }

                &.day3 {
                    background-image: url(http://stmedia.startribune.com/images/Superior3_cover_m.jpg);
                }

                &.day4 {
                    background-image: url(http://stmedia.startribune.com/images/Superior4_cover_m2.jpg);
                }

                &.day5 {
                    background-image: url(http://stmedia.startribune.com/images/Superior5_cover_m.jpg);
                }

                &.day6 {
                    background-image: url(http://stmedia.startribune.com/images/Superior6_cover_m.jpg);
                }

                .title-card {
                    h1 {
                        text-transform: uppercase;

                        // padding-right: 12px;
                        display: inline-block;
                        letter-spacing: 2px;

                        @include font-styles("popular");

                        font-weight: bold;
                        line-height: 86%;
                        font-size: 1.7em;
                        color: #fff;
                        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
                    }
                }

                #heroVideo {
                    display: none;
                }
            }
        }
    }
}

.page-article {
    padding-top: 0;
}

.wide-body .l-article-container {
    margin: 0 auto;
    text-align: center;
}