.subnav-strib-site,
.nav-strib-site {
  display: none;
}
video {
   margin-top: -60px;
}
.topNavBar {
  z-index: 200;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  .strib {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 200px;
    height: 33px;
    background-image: url(http://static.startribune.com/preview/stadium/img/strib-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sponsor {
    background-image: url(http://stmedia.startribune.com/images/sponsors_Text4.png);
    height: 103px;
    display:none;
  }
}

.hero {
  overflow: hidden;
  position: relative;
  height: 80vh;
  margin-bottom: 3em;
  margin-top: -2px;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  opacity: 1;
  animation: introFade 3s 2s ease-out forwards;
  .title-card {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 18px;
    z-index: 100;
    h1 {
      text-transform: uppercase;
      // padding-right: 12px;
      display: inline-block;
      letter-spacing: 2.5px;
      font-family: "Popular", Helvetica, Arial, sans-serif;
      font-weight: bold;
      line-height: 86%;
      font-size: 1.5em;
      color: #fff;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
    }
  }
}
section.mobile-hero {
    display: none;
}
@keyframes introFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}